.dropdown {
    border-radius: 10px;

    position: relative;
    display: inline-block;
     img {
        width:27px;
    }
    
  }
  
  .dropdownToggle {
    cursor: pointer;
  }
  
  .dropdownOptions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    background-color: white;
    // border: 1px solid #ccc;
    // border-top: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdownOption {
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .dropdownOption:hover {
    background-color: #f0f0f0;
  }
