.mainContainer {
    @apply shadow-md w-full;
  }

.container {
  min-height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
  border: 1px solid rgb(225 222 222);
  border-radius: 5px;
  margin: 20px auto;
}

.titleContainer {
  @apply flex flex-col justify-center items-center;

  color: #167d32;
  font-size: 1rem;
  font-weight: bold;

  > :first-child {
    white-space: nowrap;
  }
}



.imgProduct {
  width: 150px;
  border-radius: 5px
}

.buttonsContainer {
  @apply flex items-center;
}

.quantity {
  background: rgb(247, 192, 14);
  color: #fff;
  border-radius: 5px;
  @apply w-[30px] h-[30px] flex items-center justify-center;
}

.smallButton {
  width: 30px !important;
  font-size: 1.6rem !important;
  font-weight: bold;
  line-height: 30px;
  font-size: 0.9rem;
  background-color: #1a73e8;
  border: none;
  color: #fff;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 5px;
}

@media only screen and (max-width: 481px) {
  .container {
    flex-direction: column;
    min-height: 300px;
    justify-content: space-around;
  }
}
