@use '../../assets//styles/variables.scss' as global;

.modal {
     position: fixed; 
     display: flex;
     justify-content: center;
    //  z-index: global.$z-index-modal;  
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%; 
     overflow: auto;
     background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0,0.4); 

     & >:first-child{
      @apply bg-white w-[370px] h-[650px] rounded ;
     }

   }
   
   /* Add Animation */
   @-webkit-keyframes animatetop {
     from {top:-300px; opacity:0} 
     to {top:0; opacity:1}
   }
   
   @keyframes animatetop {
     from {top:-300px; opacity:0}
     to {top:0; opacity:1}
   }
   
   .close {
     color: rgb(156, 150, 150);
     float: right;
     font-size: 24px;
     font-weight: bold;
     padding: 10px;
   }
   
   .close:hover,
   .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
   }



   .tabContainer{
    @apply border-b border-gray-200 dark:border-gray-700 ;
    ul{
      @apply flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400;
    }

    .active{
      @apply border-b-2 border-blue-500 text-blue-500
     }

    ul li button {
      @apply inline-flex items-center justify-center p-4  border-transparent rounded-t-lg  hover:border-gray-300  ;
    }
   }
   
